.Intro{
	width: 100%;
	height: 800px;
	background-color: #474B56;
	position: fixed;
	top: 0px;
	left:0;
	z-index: -100;
	overflow: hidden;
}

.IntroText{
	margin-left: 30%;
}

.ArticleTitle{
	font-family: 'PT Serif', serif;
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: 7%;
	margin-right: 15%;
	display: block;
	line-height: 60px;
}
.ArticleSubTitle{
	font-family:'PT Sans Narrow', sans-serif;
	color: #F6A81B;
	font-size: 50px;
	text-align: center;
	margin-right: 15%;
	line-height: 60px;
}

.Authors {
	height: 400px;
	width:60%;
	float: right;
	margin-right: 10%;
	margin-top: 17%;
}

.by{
	font-family:'PT Sans Narrow', sans-serif;
	color: #161719;
	font-size: 30px;
	text-align: right;
	margin-right: 20%;
	line-height: 37px;
}

.IntroIllustration {
	background-color: #262930;
	width: 15%;
	height: 400px;
	float: left;
	margin-left: 10%;
	display: inline;
	margin-top: 20%;
	font-family:'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 20px;
}

body{
	width:100%;
	height:100%;
	position:absolute;
}

p{
	font-size: 22px;
	line-height: 33px;
	font-family:'PT Sans Narrow', sans-serif;
	text-align: left;
	color: #242522;
}

h2{
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 24px;
	text-align: left;
	color: #F6A81B;
}

.footsteps{
	float:left;
	width:15%;
	margin-left: 10%;
	background-color: #262930;
	height: 800px;
}

.wrap{
	background-color: white;
	margin-top: 60%;
	width: 100%;
	height: auto;
	right:0;
	bottom:0;
	z-index: -100;
}

#content{
	padding: 10px 0;
	margin-left:35%;
	margin-right:15%;
}

#content p {
	margin-bottom: 20px;
	line-height: 34px;
}

.IntroText p {
	margin-bottom: 30px;
}